notebook
jupyter_client
requests
flake8
psutil
pytest
pytest-cov
mock
bleach>=6.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.6 # not directly required, pinned by Snyk to avoid a vulnerability
